<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Assessments</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.2/sweetalert2.css"
    integrity="sha512-8543GQ3j5GD6UFe+71cFcnC1UfXISyhtxIqppx1rT21H/G/WP6YdgHHMCcaMoOCKTFasS2M0HzmXFTXmYSz4oA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>

  </style>
</head>

<body>

  <div class="container">
    <h1>Assessments <a class="btn btn-danger btn-sm" style="float: right; margin-top:10px;" href="/logout">Logout</a></h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Assessment</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody id="assessment-tbody">

      </tbody>
    </table>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.2/sweetalert2.min.js"
    integrity="sha512-2sjxi4MoP9Gn7QE0NhJdxOFVMK/qYsZO6JnO6pngGvck8p5UPwFX2LV5AsAMOQYgvbzMmki6sIqJ90YO3STAnA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    if (!localStorage.getItem("token")) {
      window.location.href = "/login"
    }

    $(document).ready(function () {
      $.ajax({
        type: "GET",
        url: "/api/secure/assessments",
        headers: { Authorization: `Bearer ${localStorage.getItem("token")}` },
        success: function (response) {
          const assessments = response.data;
          if (assessments.length > 0) {
            let html = '';
            assessments.forEach((assessment) => {
              const tr = `<tr>
              <th scope="col">${assessment.title}</th>
              <th scope="col"><a type="button" href="/assessments/${assessment.assessmentId}" class="btn btn-secondary">Start Test</a></th>
            </tr>`;
              html += tr;
            });
            $('#assessment-tbody').html(html);
          }
        },
        error: function (jqXHR, error, errorThrown) {
          console.log(jqXHR)
          if (jqXHR.status && jqXHR.status == 401) {
            localStorage.removeItem("token");
            window.location.href = "/login";
          }
        }
      });
    });
  </script>
</body>

</html>